/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

/* VARIABLES */
:root {
  --color-bg:#eff0f3;
  --color-links: #7f5af0;
  --color-bg-secondary: rgba(22, 22, 26, 0.8);
}

/* GLOBAL CSS */
html {
	scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background-color: var(--color-bg);
}
li, h1, h2, h3, h4, h5, h6, a {
  font-weight: 500;
}
a:hover{
  color: var(--color-links);
}
/* HEADER */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-user {
  width: 50px;
  margin-right: 10px;
}
.img-cart-user  {
  width: 100%;
}
.logo {
  width: 100px;
}
.logo >img { 
  width:100%;
}
nav, .categories, footer {
  padding-left: 20px;
 }
nav ul, .categories ul, .cart-user ul, footer ul {
  display: flex;
  gap:10px;
  
}
/* NAV*/
nav {
  padding-top: 10px;
/*  position: fixed;
  top:0;*/
  width: 100vw;
  background-color: var(--color-bg-secondary);
  
}
nav ul {
  justify-content: center;
  gap:20px;
  padding-bottom: 12px;
  font-size: 1.5em;
}
nav a {
  color:aliceblue;
  font-family: 'Roboto', sans-serif;

}
/* MAIN */

.slider >img {
  width: 100vw;
  max-height: 55vh;
}
article {
  margin-left: 20px;
}
/* HOT PRODUCTS */
.hot_products {
  padding-bottom: 50px;
}
.hot_products h2{
  margin-top: 20px;
  text-align: center;
}
.products {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
 
}
.products h4 {
  text-align: center;
  margin-top: -20px;
}
.products li {
  width: 250px;
  height: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products div {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.products img {
  width: 100%;
}

.products button {
  cursor: pointer;
  color: var(--color-links);
  font-weight: 600;
  border: solid;
  padding:4px;
  background-color: var(--color-bg-secondary);
}

footer {
  display: flex;
  justify-content: space-around;
}
.rss img {
  width: 30px;
}